* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 99.3vw;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

nav, section {
    float: left;
}

nav {
    width: 20vw;
    margin-right: 7px;
    margin-left: 5px;
}

section {
    width: 79vw;
}

.nav_btn {
    border: 3px solid rgba(255,255,255,0.8);
    background-color: #2980b9;
    margin-bottom: 17px;
    border-radius: 3px;
    width: 342px;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_btn:hover {
    background-color: #347c99;
}

.container {
    width: 342px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form_inputs {
    height: 30px;
}

span {
    font-weight: bold;
}

/**************************************

**************************************/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2980b9;
    color: #FFF;
    font-family: Helvetica;
    margin: 0;
}

header,
nav,
section {
    border: 1px solid rgba(255,255,255,0.8);
    margin-bottom: 10px;
    border-radius: 3px;
}

header {
    padding: 20px;
    text-align: right;
}

nav, section {
    padding: 7px;
}

table {
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
table ,table td, table th {
    border: 1px solid #FFFFFF;
    text-align: center;
}
table td, table th {
    padding: 3px;
    width: 30px;
    height: 35px;
}
table th {
    background: #347c99;
    color: #FFFFFF;
    font-weight: normal;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 10px;
}
