<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Управление счетами</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a class="nav_btn" href="/family-budget/operations">Управление операциями</a>
        <a class="nav_btn" href="/family-budget/lk">Личный кабинет</a>
    </header>
    <nav>
        <h2>Создать новый счёт:</h2>
        <form method="post">
            <div class="container">
                <span>Имя держателя:</span>
                <input style="margin-bottom: 10px; height: 30px; width: 205px" class="form_inputs" type="text" name="name" placeholder="Введите имя держателя">
                <button class="nav_btn" type="submit" name="add">Создать</button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </div>
        </form>
        {{#user_exists}}
            <script> alert("Счёт на указанное имя уже существует.") </script>
        {{/user_exists}}
    </nav>
    <section>
        <h2>Список активных счётов:</h2>
        {{#balances}}
            <table>
                <tbody>
                    <tr>
                        <td><b>ID счёта:</b></td>
                        <td><b>Дата создания:</b></td>
                        <td><b>Общий доход:</b></td>
                        <td><b>Общий расход:</b></td>
                        <td><b>Текщий баланс:</b></td>
                        <td><b>Имя держателя:</b></td>
                        <form method="post">
                            <td rowspan="2">
                                <button class="nav_btn" style="width: 150px" type="submit" name="delete">Удалить счёт</button>
                            </td>
                            <input name="balance_id" type="hidden" value="{{id}}">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                        </form>
                    </tr>
                    <tr>
                        <td>{{id}}</td>
                        <td id="create_date">{{create_date}}</td>
                        <script>
                            var x = document.getElementById("create_date").value;
                            x = x.replace("T", " ");
                            document.getElementById("create_date").innerHTML = x;
                        </script>
                        <td>{{debit}}</td>
                        <td>{{credit}}</td>
                        <td>{{amount}}</td>
                        <td>{{holder}}</td>
                    </tr>
                </tbody>
            </table>
        {{/balances}}
    </section>
</body>
</html>