<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a class="nav_btn" href="/family-budget/operations">Управление операциями</a>
        <a class="nav_btn" href="/family-budget/balance">Управление счетами</a>
        <a class="nav_btn" href="/family-budget/lk">Личный кабинет</a>
    </header>
    <nav>
        <span>Чтобы выйти из аккаунта, перейдите во вкладку личный кабинет</span>
    </nav>
    <section>
        <h2>Список операций:</h2>
        {{#balances}}
            <span><b>{{holder}}</b>; Остаток средств: {{amount}}</span>
            <table>
                <tbody>
                <tr>
                    <td><b>ID:</b></td>
                    <td><b>Расход:</b></td>
                    <td><b>Доход:</b></td>
                    <td><b>Дата операции:</b></td>
                    <td><b>Статья:</b></td>
                </tr>
                {{#operations}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{credit}}</td>
                        <td>{{debit}}</td>
                        <td>{{create_date}}</td>
                        <td>{{article}}</td>
                    </tr>
                {{/operations}}
                </tbody>
            </table>
        {{/balances}}
    </section>
</body>
</html>