<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a class="nav_btn" href="/family-budget/operations">Управление операциями</a>
        <a class="nav_btn" href="/family-budget/balance">Управление счетами</a>
    </header>
    <nav>
        <div class="container">
            <span>Выберите пользователя, для которого хотели бы увидеть статистику:</span>
            <select id="select" onchange="sendId(this);" style="width: 343px; height: 30px">
                <option disabled selected value> -- ? -- </option>
                {{#balances}}
                    <option value={{id}}>{{holder}}</option>
                {{/balances}}
            </select>
            <br>
            <form action="/logout" method="post">
                <button class="nav_btn" type="submit">Выйти из аккаунта</button>
            </form>
            <form method="post">
                <button class="nav_btn" type="submit" name="delete_account">Удалить аккаунт</button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </form>
        </div>
        <script>
            {{#flag}}
                document.getElementById('select').value = {{selected}};
            {{/flag}}
            function sendId(element) {
                var id = element.value;
                window.location.replace('/family-budget/lk/?id=' + id);
            }
        </script>
    </nav>
    <section>
        {{#post_flag}}
            <span>Общее количество операций: {{count}}</span><br>
            <span>Последние 3 операции:</span>
            <table>
                <tbody>
                    <tr>
                        <td><b>ID:</b></td>
                        <td><b>Расход:</b></td>
                        <td><b>Доход:</b></td>
                        <td><b>Дата операции:</b></td>
                        <td><b>Статья:</b></td>
                    </tr>
                    {{#operations_sorted}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{credit}}</td>
                            <td>{{debit}}</td>
                            <td>{{create_date}}</td>
                            <td>{{article}}</td>
                        </tr>
                    {{/operations_sorted}}
                </tbody>
            </table>
            <span>Найти операции по статье: </span>
            <div class="container">
            <form method="post">
                <input class="form_inputs" type="text" name="name" placeholder="Введите статью расхода/дохода">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit" id="target" class="nav_btn"><b>Поиск</b></button>
            </form>
            </div>
            {{#operations_flag}}
            <table>
                <tbody>
                    <tr>
                        <td><b>ID:</b></td>
                        <td><b>Расход:</b></td>
                        <td><b>Доход:</b></td>
                        <td><b>Дата операции:</b></td>
                        <td><b>Статья:</b></td>
                    </tr>
                    {{#operations}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{credit}}</td>
                            <td>{{debit}}</td>
                            <td>{{create_date}}</td>
                            <td>{{article}}</td>
                        </tr>
                    {{/operations}}
                </tbody>
            </table>
            {{/operations_flag}}
        {{/post_flag}}
    </section>
</body>
</html>