<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a>Чтобы вносить измения, вам нужно авторизоваться</a>
    </header>
    <nav>
        <form action="/login" method="post">
            <div class="container">
                <label> Имя пользователя: <input type="text" name="username"/> </label>
                <label> Пароль: <input type="password" name="password"/> </label>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button class="nav_btn">Войти</button>
            </div>
        </form>
        {{#error_flag}}
            <script> alert("Неверные данные.") </script>
        {{/error_flag}}
        <a href="/registration" style="text-decoration: none; color: #FFFFFF">Зарегистрироваться</a>
    </nav>
    <section>
        <h2>Список операций:</h2>
        {{#balances}}
            <span><b>{{holder}}</b>; Остаток средств: {{amount}}</span>
            <table>
                <tbody>
                    <tr>
                        <td><b>ID:</b></td>
                        <td><b>Расход:</b></td>
                        <td><b>Доход:</b></td>
                        <td><b>Дата операции:</b></td>
                        <td><b>Статья:</b></td>
                    </tr>
                    {{#operations}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{credit}}</td>
                            <td>{{debit}}</td>
                            <td>{{create_date}}</td>
                            <td>{{article}}</td>
                        </tr>
                    {{/operations}}
                </tbody>
            </table>
        {{/balances}}
    </section>
</body>
</html>