<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a class="nav_btn" href="/family-budget/balance">Управление счетами</a>
        <a class="nav_btn" href="/family-budget/lk">Личный кабинет</a>
    </header>
    <nav>
        <div class="container">
            <form id="form" method="post">
                <h3>Добавлениe новых операций:</h3>
                <span>Пользователь:</span>
                <div class="form_inputs">
                    <select name="balance_id" style="width: 343px; height: 30px">
                        <option disabled selected value> -- ? -- </option>
                        {{#balances}}
                            <option value={{id}}>{{holder}}</option>
                        {{/balances}}
                    </select>
                </div>
                <br>
                <span>Дата совершения операции:</span>
                <input style="font-family: Arial, serif" id="create_date" class="form_inputs" type="datetime-local" name="create_date" placeholder="Введите дату создания">
                <script>
                    document.getElementById("create_date").defaultValue = "2022-01-01T00:00";
                </script>
                <span>Доход от операции:</span>
                <input class="form_inputs" type="number" step="0.01" name="debit" placeholder="Введите доход">
                <span>Расход от операции:</span>
                <input class="form_inputs" type="number" step="0.01" name="credit" placeholder="Введите расход">
                <span>Статья операции:</span>
                <input class="form_inputs" type="text" name="name" placeholder="Введите статью расхода/дохода">
                <button style="margin-top: 10px" type="submit" id="target" class="nav_btn" name="add"><b>Добавить</b></button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </form>
        </div>
    </nav>
    <section>
        <h2>Список операций:</h2>
        {{#balances}}
            <span><b>{{holder}}</b>; Остаток средств: {{amount}}</span>
            <table>
                <tbody>
                    <tr>
                        <td><b>ID:</b></td>
                        <td><b>Расход:</b></td>
                        <td><b>Доход:</b></td>
                        <td><b>Дата операции:</b></td>
                        <td><b>Статья:</b></td>
                    </tr>
                    {{#operations}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{credit}}</td>
                            <td>{{debit}}</td>
                            <td>{{create_date}}</td>
                            <td>{{article}}</td>
                            <form method="post">
                                <td>
                                    <button class="nav_btn" style="width: 150px" name="delete">Удалить операцию</button>
                                </td>
                                <input name="operation_id" type="hidden" value="{{id}}">
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                            </form>
                        </tr>
                    {{/operations}}
                </tbody>
            </table>
        {{/balances}}
    </section>
</body>
</html>