<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1878/1878798.png">
</head>
<body>
    <h1>Управление семейным бюджетом</h1>
    <header>
        <a>Чтобы вносить измения, вам нужно авторизоваться</a>
    </header>
    <nav>
        <span>Регистрация для новых пользователей</span>
        <form action="/registration" method="post">
            <div class="container">
                <label> Имя пользователя: <input id="usr" type="text" name="username"/> </label>
                <label> Пароль: <input id="pass1" type="password" name="password"/> </label>
                <label> Повторите пароль: <input id="pass2" type="password"/> </label>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button id="register_btn" class="nav_btn" disabled>Зарегистрироваться</button>
                <span id="compare_alert" hidden style="color: red">Пароли не совпадают</span>
                <span id="short_alert" hidden style="color: red">Пароль и имя пользователя должны быть не короче 7 символов</span>
            </div>
        </form>
        <a href="/login" style="text-decoration: none; color: #FFFFFF">Уже есть аккаунт?</a>
        <script>
            function regCheck(){
                var usr = document.getElementById("usr").value;
                var p1 = document.getElementById("pass1").value;
                var p2 = document.getElementById("pass2").value;
                var cmp = document.getElementById("compare_alert");
                var len = document.getElementById("short_alert");
                var btn = document.getElementById("register_btn");
                var flag1;
                var flag2;

                if (p1 != p2) {
                    cmp.style.display = 'block';
                    flag1 = true;
                }
                else {
                    cmp.style.display = 'none';
                    flag1 = false
                }

                if (usr.length < 7 || p1.length < 7) {
                    len.style.display = 'block';
                    flag2 = true;
                }
                else {
                    len.style.display = 'none';
                    flag2 = false;
                }

                if (flag1 || flag2) {
                    btn.disabled = true;
                }
                else {
                    btn.disabled = false;
                }

                setTimeout(regCheck, 1);
            }
            regCheck();
        </script>
        {{#user_exists}}
            <script> alert("Пользователь с таким именем уже существует.") </script>
        {{/user_exists}}
    </nav>
    <section>
        <h2>Список операций:</h2>
        {{#balances}}
            <span><b>{{holder}}</b>; Остаток средств: {{amount}}</span>
            <table>
                <tbody>
                    <tr>
                        <td><b>ID:</b></td>
                        <td><b>Расход:</b></td>
                        <td><b>Доход:</b></td>
                        <td><b>Дата операции:</b></td>
                        <td><b>Статья:</b></td>
                    </tr>
                    {{#operations}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{credit}}</td>
                            <td>{{debit}}</td>
                            <td>{{create_date}}</td>
                            <td>{{article}}</td>
                        </tr>
                    {{/operations}}
                </tbody>
            </table>
        {{/balances}}
    </section>
</body>
</html>